<launch>

  <arg name="hand_pose_box" default="hand_cluster_point_indices_decomposer/boxes" />

  <node name="hand_motion_estimator"
        pkg="hand_motion_estimator" type="hand_motion_estimator.py"
        output="screen">
    <remap from="~input/hand_pose_box" to="$(arg hand_pose_box)" />
  </node>

</launch>
