<launch>
  <arg name="hand_pose_boxes" default="hand_cluster_point_indices_decomposer/boxes" />
  <arg name="object_boxes" default="/labeled_bounding_box_publisher/output/labeled_instance_boxes" />
  <arg name="interrupt_dist_thresh" default="0.15" />

  <node name="hand_interruption_checker"
        pkg="hand_motion_estimator" type="hand_interruption_checker.py"
        output="screen">
    <remap from="~input/hand_pose_boxes" to="$(arg hand_pose_boxes)" />
    <remap from="~input/object_boxes" to="$(arg object_boxes)" />
    <rosparam subst_value="true">
      interrupt_dist_thresh: $(arg interrupt_dist_thresh)
    </rosparam>
  </node>

</launch>
